/build/
/stamps/
/control
/control.md5sum
/config.defines.dump
/rules.gen
/files
/*.debhelper.log
/linux-support-*.debhelper
/linux-*.substvars
/xen-linux-system-*.substvars
/*-modules-*-di.substvars
/kernel-image-*-di.substvars
/linux-image-*.postinst
/linux-image-*.postrm
/linux-image-*.preinst
/linux-image-*.prerm
/linux-image-*.templates
/linux-image-*.lintian-overrides
/linux-headers-*.postinst
/*-modules-*-di/
/kernel-image-*-di/
/linux-doc-*/
/linux-headers-*/
/linux-image-*/
/linux-libc-dev/
/linux-manual-*/
/linux-source-*/
/linux-support-*/
/xen-linux-system-*/
*.pyc
/po/
# Xenomai feature set
/patches/series-xenomai

# OSC
/.osc/
/linux_*.tar.xz
/linux_*.dsc
